@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    :root {
        --foreground-rgb: 0, 0, 0;
        --background-start-rgb: 214, 219, 220;
        --background-end-rgb: 255, 255, 255;
        --background-color: #0e0f14;
        --background: 240 5% 6%;
        --foreground: 60 5% 90%;
        --primary: 240 0% 90%;
        --primary-foreground: 60 0% 0%;
        --secondary: 240 4% 15%;
        --secondary-foreground: 60 5% 85%;
        --accent: 240 0% 13%;
        --accent-foreground: 60 0% 100%;
        --destructive: 0 60% 50%;
        --destructive-foreground: 0 0% 98%;
        --muted: 240 5% 25%;
        --muted-foreground: 60 5% 85%;
        --card: 240 4% 10%;
        --card-foreground: 60 5% 90%;
        --popover: 240 5% 15%;
        --popover-foreground: 60 5% 85%;
        --border: 240 6% 20%;
        --input: 240 6% 20%;
        --ring: 240 5% 90%;
        --radius: 0.5rem;
    }

    body {
        color: rgb(var(--foreground-rgb));
        background: #0e0f14;
      
        /* Scrollbar
        scrollbar-width: thin; For Firefox */
        
    }
    
    .thin-scroll::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
    
    .thin-scroll::-webkit-scrollbar-thumb {
        border-radius: .25rem;
        --tw-bg-opacity: 1;
        background-color: rgb(32 33 39/var(--tw-bg-opacity));
        border: 1px solid transparent;
        background-clip: padding-box
    }
    
    .thin-scroll::-webkit-scrollbar-thumb:hover {
        border: 0
    }
    
    .thin-scroll::-webkit-scrollbar-track {
        background: transparent
    }
    
    .thin-scroll::-webkit-scrollbar-thumb:window-inactive {
        --tw-bg-opacity: 1;
        background-color: rgb(32 33 39/var(--tw-bg-opacity))
    }
}

@layer base {
    * {
      @apply border-border;
    }
  
    body {
      @apply bg-background text-foreground font-body;
    }
  
    h1, h2, h3, h4, h5, h6 {
      @apply font-heading;
    }
  }


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
